# Miscellaneous system files
.DS_Store
*~
._*
.env
Thumbs.db

# Editor files
.vs/
.vscode/
.idea/

# Repository files
.git/
.github/
.editorconfig
.gitattributes
.gitignore
LICENSE-APACHE
LICENSE-MIT
README.md
