##########################################################
## Configuration file for the Suicide Squad Discord bot ##
##########################################################

# The Discord bot prefixes for invoking commands in chat (separated by ,).
DISCORD_PREFIXES=["!","?"]

# The Discord bot token obtained from the Developer Portal.
DISCORD_TOKEN=

# The user name, password, and database for the postgres database.
POSTGRES_USER=squadbot
POSTGRES_PASSWORD=tobdauqs
POSTGRES_DB=squadbot
POSTGRES_HOST=squad.bot
POSTGRES_PORT=5432

# If a user wishes to work with a given database URL directly to take
# advantage of further configuration options, this can be alternatively
# used instead of the above POSTGRES_* options.
#POSTGRES_DB_URL=

# required if you want to use the github integration
GITHUB_PRIVATE_KEY=
GITHUB_APP_IDENTIFIER=
GITHUB_WEBHOOK_SECRET=
