[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[packages]
alembic = "~=1.4.3"
"discord.py" = "~=1.5.1"
gino = "~=1.0.1"
psycopg2 = "*"
uvloop = { version = "~=0.14.0", sys_platform = "!= 'win32'" }
pydantic = "*"
emojis = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.9"

[scripts]
bot = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
migrations = "alembic upgrade head"
