[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[packages]
aiodns = ">=2.0.0,<3"
alembic = ">=1.4.3,<2"
colorlog = ">=4.7.2,<5"
"discord.py" = ">=1.5.1,<2"
gino = ">=1.0.1,<2"
psycopg2-binary = ">=2.8.6,<3"
uvloop = { version = ">=0.14.0,<1", sys_platform = "!= 'win32'" }
pydantic = ">=1.7.3,<2"
fastapi = ">=0.63.0,<1"
uvicorn = {version = ">=0.13.3,<1", extras = ["standard"]}
authlib = ">=0.15.3,<1"
itsdangerous = ">=1.1.0,<2"
httpx = ">=0.16.1,<1"
gidgethub = ">=5.0.0,<6"
aiohttp = ">=3.7.4,<4"
gunicorn = ">=20.1.0,<21"
websockets = ">=9.1,<10"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.9"

[scripts]
bot = "python -m bot"
backend = "uvicorn backend.main:app --host $BACKEND_HOST --port $BACKEND_PORT"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
migrations = "alembic upgrade head"
