[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[packages]
"discord.py" = "~=1.5.1"
gino = "~=1.0.1"
python-dotenv = "~=0.15.0"
uvloop = { version = "~=0.14.0", sys_platform = "!= 'win32'" }

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.9"

[scripts]
bot = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
